dist: trusty
sudo: required
cache:
  directories:
    - packer_cache/
install:
    - echo "deb http://download.virtualbox.org/virtualbox/debian trusty contrib" | sudo tee -a /etc/apt/sources.list
    - wget http://download.virtualbox.org/virtualbox/debian/oracle_vbox.asc -O- | sudo apt-key add -
    - sudo apt-get update && sudo apt-get install -y linux-headers-$(uname -r) virtualbox-5.2 ansible
    - wget -q https://releases.hashicorp.com/packer/1.3.1/packer_1.3.1_linux_amd64.zip
    - unzip packer_1.3.1_linux_amd64.zip
    - sudo mv packer /usr/bin/packer
    - sudo chmod u+x /usr/bin/packer
    - rm packer_1.3.1_linux_amd64.zip
    - wget -q https://releases.hashicorp.com/vagrant/2.1.5/vagrant_2.1.5_x86_64.deb
    - sudo dpkg -i vagrant_2.1.5_x86_64.deb
    - rm vagrant_2.1.5_x86_64.deb

script:
    - echo "Build tool versions > " && echo "virtualbox $(VBoxManage -v)" && vagrant -v && echo "packer $(packer -v)" && ansible --version
    - packer build build.json
